default/feiw-git.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1762432900565,
    "description" : "feiw-git integration testing",
    "identifier" : "feiw-git",
    "lastModifiedTimestamp" : 1762432900565,
    "name" : "feiw-git",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ ],
    "controllerServices" : [ ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ ],
    "maxConcurrentTasks" : 1,
    "name" : "fwang-git",
    "outputPorts" : [ ],
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2025.10.30.21"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "988ba304-d589-3022-a196-e00675edf337",
      "maxBackoffPeriod" : "10 mins",
      "name" : "InvokeHTTP",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -655.5001175542147,
        "y" : -229.00001996798073
      },
      "properties" : {
        "Request Content-Encoding" : "DISABLED",
        "Request Multipart Form-Data Filename Enabled" : "true",
        "Request Chunked Transfer-Encoding Enabled" : "false",
        "HTTP/2 Disabled" : "False",
        "Connection Timeout" : "5 secs",
        "Response Cookie Strategy" : "DISABLED",
        "Socket Read Timeout" : "15 secs",
        "Socket Idle Connections" : "5",
        "Request Body Enabled" : "true",
        "OAuth2 Access Token Refresh Strategy" : "ON_TOKEN_EXPIRATION",
        "Socket Idle Timeout" : "5 mins",
        "Response Redirects Enabled" : "True",
        "Socket Write Timeout" : "15 secs",
        "Response FlowFile Naming Strategy" : "RANDOM",
        "Response Cache Enabled" : "false",
        "Request Date Header Enabled" : "True",
        "Request Failure Penalization Enabled" : "false",
        "Response Body Attribute Size" : "256",
        "Response Generation Required" : "false",
        "Response Header Request Attributes Enabled" : "false",
        "HTTP Method" : "GET",
        "Request Content-Type" : "${mime.type}",
        "Request Digest Authentication Enabled" : "false",
        "Response Cache Size" : "10MB",
        "Response Body Ignored" : "false"
      },
      "propertyDescriptors" : {
        "Request Content-Encoding" : {
          "displayName" : "Request Content-Encoding",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Content-Encoding",
          "sensitive" : false
        },
        "proxy-configuration-service" : {
          "displayName" : "Proxy Configuration Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "proxy-configuration-service",
          "sensitive" : false
        },
        "Request Multipart Form-Data Filename Enabled" : {
          "displayName" : "Request Multipart Form-Data Filename Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Multipart Form-Data Filename Enabled",
          "sensitive" : false
        },
        "Request Chunked Transfer-Encoding Enabled" : {
          "displayName" : "Request Chunked Transfer-Encoding Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Chunked Transfer-Encoding Enabled",
          "sensitive" : false
        },
        "Response Header Request Attributes Prefix" : {
          "displayName" : "Response Header Request Attributes Prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Header Request Attributes Prefix",
          "sensitive" : false
        },
        "HTTP/2 Disabled" : {
          "displayName" : "HTTP/2 Disabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "HTTP/2 Disabled",
          "sensitive" : false
        },
        "Connection Timeout" : {
          "displayName" : "Connection Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Connection Timeout",
          "sensitive" : false
        },
        "Response Cookie Strategy" : {
          "displayName" : "Response Cookie Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Cookie Strategy",
          "sensitive" : false
        },
        "Request Password" : {
          "displayName" : "Request Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Password",
          "sensitive" : true
        },
        "Socket Read Timeout" : {
          "displayName" : "Socket Read Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Socket Read Timeout",
          "sensitive" : false
        },
        "Socket Idle Connections" : {
          "displayName" : "Socket Idle Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Socket Idle Connections",
          "sensitive" : false
        },
        "Request Body Enabled" : {
          "displayName" : "Request Body Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Body Enabled",
          "sensitive" : false
        },
        "OAuth2 Access Token Refresh Strategy" : {
          "displayName" : "OAuth2 Access Token Refresh Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "OAuth2 Access Token Refresh Strategy",
          "sensitive" : false
        },
        "HTTP URL" : {
          "displayName" : "HTTP URL",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "HTTP URL",
          "sensitive" : false
        },
        "Request OAuth2 Access Token Provider" : {
          "displayName" : "Request OAuth2 Access Token Provider",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Request OAuth2 Access Token Provider",
          "sensitive" : false
        },
        "Socket Idle Timeout" : {
          "displayName" : "Socket Idle Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Socket Idle Timeout",
          "sensitive" : false
        },
        "Response Redirects Enabled" : {
          "displayName" : "Response Redirects Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Redirects Enabled",
          "sensitive" : false
        },
        "Socket Write Timeout" : {
          "displayName" : "Socket Write Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Socket Write Timeout",
          "sensitive" : false
        },
        "Request Header Attributes Pattern" : {
          "displayName" : "Request Header Attributes Pattern",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Header Attributes Pattern",
          "sensitive" : false
        },
        "Response FlowFile Naming Strategy" : {
          "displayName" : "Response FlowFile Naming Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response FlowFile Naming Strategy",
          "sensitive" : false
        },
        "Response Cache Enabled" : {
          "displayName" : "Response Cache Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Cache Enabled",
          "sensitive" : false
        },
        "Request Date Header Enabled" : {
          "displayName" : "Request Date Header Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Date Header Enabled",
          "sensitive" : false
        },
        "Request Failure Penalization Enabled" : {
          "displayName" : "Request Failure Penalization Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Failure Penalization Enabled",
          "sensitive" : false
        },
        "Response Body Attribute Size" : {
          "displayName" : "Response Body Attribute Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Body Attribute Size",
          "sensitive" : false
        },
        "SSL Context Service" : {
          "displayName" : "SSL Context Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "SSL Context Service",
          "sensitive" : false
        },
        "Response Generation Required" : {
          "displayName" : "Response Generation Required",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Generation Required",
          "sensitive" : false
        },
        "Request User-Agent" : {
          "displayName" : "Request User-Agent",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request User-Agent",
          "sensitive" : false
        },
        "Response Header Request Attributes Enabled" : {
          "displayName" : "Response Header Request Attributes Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Header Request Attributes Enabled",
          "sensitive" : false
        },
        "HTTP Method" : {
          "displayName" : "HTTP Method",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "HTTP Method",
          "sensitive" : false
        },
        "Request Username" : {
          "displayName" : "Request Username",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Username",
          "sensitive" : false
        },
        "Request Content-Type" : {
          "displayName" : "Request Content-Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Content-Type",
          "sensitive" : false
        },
        "Response Body Attribute Name" : {
          "displayName" : "Response Body Attribute Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Body Attribute Name",
          "sensitive" : false
        },
        "Request Digest Authentication Enabled" : {
          "displayName" : "Request Digest Authentication Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Digest Authentication Enabled",
          "sensitive" : false
        },
        "Request Multipart Form-Data Name" : {
          "displayName" : "Request Multipart Form-Data Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Multipart Form-Data Name",
          "sensitive" : false
        },
        "Response Cache Size" : {
          "displayName" : "Response Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Cache Size",
          "sensitive" : false
        },
        "Response Body Ignored" : {
          "displayName" : "Response Body Ignored",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Body Ignored",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "runtime-snowflake-processors-nar",
        "group" : "com.snowflake.openflow.runtime",
        "version" : "2025.10.30.21"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "PRIMARY",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a7a91308-2a44-3fcc-accd-690a5340502e",
      "maxBackoffPeriod" : "10 mins",
      "name" : "ConsumeSnowflakeStream",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -648.0,
        "y" : -48.0
      },
      "properties" : {
        "Max Chunk Size" : "1000"
      },
      "propertyDescriptors" : {
        "Max Chunk Size" : {
          "displayName" : "Max Chunk Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Chunk Size",
          "sensitive" : false
        },
        "Snowflake Connection Service" : {
          "displayName" : "Snowflake Connection Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Snowflake Connection Service",
          "sensitive" : false
        },
        "Record Writer" : {
          "displayName" : "Record Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Writer",
          "sensitive" : false
        },
        "Stream Name" : {
          "displayName" : "Stream Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Stream Name",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "com.snowflake.openflow.runtime.processors.snowflake.ConsumeSnowflakeStream",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : { },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "FWANG",
    "flowIdentifier" : "feiw-git",
    "timestamp" : 1762433456761
  }
}